# Python for Data Analysis

## What pandas is and why use it.

 - Pandas is an open source library built on top of NumPy 
 - It allows fast analysis, data cleaning and preparation 
 - It excels in performance and productivity 
 - It has built in visualization features 
 - It can work with data from a variety of sources 
 
 Installing pandas:
 
 * **conda install pandas**
 
 
 * **pip install pandas**
 
 ### Agenda for this section will be: 
 
 
 - Series
 - DataFrames
 - Missing Data
 - GroupBy
 - Merging, Joining and Concatenating 
 - Operations 
 - Data Input and Output

### 1. Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# Creating 4 data types (labels, lists, arrays and dictionary, then creting a series)
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [7]:
pd.Series(data = my_data) # On the left is the index and on the right the data

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data,index=labels) # labelled index series

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels) # short notation

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr) # Creating a series by passing a numpy array

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(d) # Use a dic to create a series

a    10
b    20
c    30
dtype: int64

In [15]:
labels

['a', 'b', 'c']

In [16]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4],['UK','Kenya','Germany','Thailand']) # Creating 2 series

In [18]:
ser1

UK          1
Kenya       2
Germany     3
Thailand    4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],['UK','Kenya','Portugal','Thailand'])

In [20]:
ser2

UK          1
Kenya       2
Portugal    5
Thailand    4
dtype: int64

In [23]:
# Grabbing data from series
ser1['UK']

1

In [24]:
ser3 = pd.Series(data=labels)

In [25]:
ser3

0    a
1    b
2    c
dtype: object

In [26]:
ser3[0]

'a'

In [27]:
ser1 + ser2 # NaN value -> Didn't find a match

Germany     NaN
Kenya       4.0
Portugal    NaN
Thailand    8.0
UK          2.0
dtype: float64