## Python Crash Course 

### Data Types 

* Numbers 
* Strings 
* Print Formatting 
* Lists 
* Dictionaries 
* Bools 
* Tuples and Sets 

### Comparison Operators 
### If, elif and else Statements 
### For Loops 
### While Loops 
### range()
### Functions
### List Comprehension
### Lambda Expressions 
### Map and Filter


There are two basic number types. Integers and Floating point numbers. 

Python does follow an order of operation (BODMAS) whilst evaluating arithmetic problems. 

In Python 3, they made the / operator do a floating-point division, and added the // operator to do integer division (i.e. quotient without remainder)

In [11]:
print("5 + 2 =", 5 + 2)
print("5 - 2 =", 5 - 2)
print("5 * 2 =", 5 * 2)
print("5 % 2 =", 5 % 2)
print("5 ** 2 =", 5 ** 2)
print("5 / 2 =", 5 / 2)
print("5 // 2 =", 5 // 2) # Opposite of modulus (%)

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 % 2 = 1
5 ** 2 = 25
5 / 2 = 2.5
5 // 2 = 2

### Variable assignment and strings
Shouldn't start with numbers and special symbols reserved for Python

You can name variables using snake_case or camelCase

In [12]:
quote = "\"Wisdom is the principle thing, therefore get wisdom"

In [16]:
multi_line_quote = ''' and with all thy getting
get understanding'''

In [21]:
new_string = quote + multi_line_quote # String concatenation

In [19]:
print(new_string)

"Wisdom is the principle thing, therefore get wisdom and with all thy getting
get understanding

In [20]:
print("%s %s %s" % ('I like the quote:', quote, multi_line_quote))

I like the quote: "Wisdom is the principle thing, therefore get wisdom  and with all thy getting
get understanding

In [35]:
name  = 'Foo'
surname = 'Bar'
age = 'of 90 years.' 
statement = 'I think John Snow knows something'

In [36]:
print("%s %s %s %s %s" % ('My names are', name, surname, age, statement))

My names are Foo Bar of 90 years. I think John Snow knows something

In [38]:
print("I like ")
print("newlines")

I like
newlines

In [41]:
print("I don't like ", end="")
print("newlines")

I don't like newlines

In [42]:
print('n' * 5)

nnnnn

### String interpolation
Using .format() method and f-string (formatted string literals)

In [43]:
print("The {2} {1} {0}".format('fox', 'brown', 'quick'))

The quick brown fox

In [11]:
issue = 'kernel panics'
solution = 'double espresso'

print("My pc was having {}, I got a {} and it repaired itself.".format(issue, solution))

My pc was having kernel panics, I got a double espresso and it repaired itself.

In [12]:
print(f"My pc was having {issue}, I got a {solution} and it repaired itself.")

My pc was having kernel panics, I got a double espresso and it repaired itself.

In [54]:
name = 'Foo'

In [57]:
last_letters = name[1:]

In [58]:
last_letters

'oo'

In [59]:
first_letter = name[:1]

In [60]:
first_letter

'F'

In [61]:
'P' + last_letters

'Poo'

In [62]:
print(name + ' is not my real name')

Foo is not my real name

In [63]:
result = 100/90

In [64]:
result

1.1111111111111112

In [65]:
print("The result is {r}".format(r=result))

The result is 1.1111111111111112

### Lists 

Lists are ordered sequences that can hold a variety of object types.

They use [ ] brackets and coma separated objects.

Lists support indexing and slicing. Lists can be nested and also have a variety of useful methods.

Lists are synanymous to Arrays in other programming Languages like Ruby and Javascript

In [97]:
grocery_list = ['Juice', 'Tomatoes', 'Potatoes',
               'Bananas', 'Manchester Lager']

In [98]:
print('Fifth Item:', grocery_list[4])

Fifth Item: Manchester Lager

In [99]:
grocery_list[0] = "Green Juice"

In [100]:
# Printing a subset of a list 

print(grocery_list[1:3]) # From index 1 to 3, not including 3 though. Weard but works like that.

['Tomatoes', 'Potatoes']

In [104]:
other_events = ['Go to the store', 'Go to the gym', 'Read some journals']

In [107]:
to_do_list = [other_events, grocery_list]

In [108]:
print(to_do_list)

[['Go to the store', 'Go to the gym', 'Read some journals'], ['Green Juice', 'Tomatoes', 'Potatoes', 'Bananas', 'Manchester Lager']]

In [109]:
print((to_do_list[1][1])) # 1 (second list), 1 in item in index 1 of second list

Tomatoes

In [110]:
print((to_do_list[0][2]))

Read some journals

In [111]:
grocery_list.append('Onions')

In [112]:
grocery_list

['Green Juice',
 'Tomatoes',
 'Potatoes',
 'Bananas',
 'Manchester Lager',
 'Onions']

In [113]:
grocery_list.insert(1, 'Pickle')

In [114]:
grocery_list

['Green Juice',
 'Pickle',
 'Tomatoes',
 'Potatoes',
 'Bananas',
 'Manchester Lager',
 'Onions']

In [115]:
grocery_list.sort()

In [116]:
grocery_list

['Bananas',
 'Green Juice',
 'Manchester Lager',
 'Onions',
 'Pickle',
 'Potatoes',
 'Tomatoes']

In [117]:
grocery_list.reverse()

In [118]:
grocery_list

['Tomatoes',
 'Potatoes',
 'Pickle',
 'Onions',
 'Manchester Lager',
 'Green Juice',
 'Bananas']

In [119]:
del grocery_list[4]

In [120]:
grocery_list

['Tomatoes', 'Potatoes', 'Pickle', 'Onions', 'Green Juice', 'Bananas']

In [121]:
to_do_list2 = other_events + grocery_list

In [122]:
to_do_list2

['Go to the store',
 'Go to the gym',
 'Read some journals',
 'Tomatoes',
 'Potatoes',
 'Pickle',
 'Onions',
 'Green Juice',
 'Bananas']

### Tuples
Are very similar to lists but unlike lists, you cannot change a tuple after it's created.

In [123]:
pi_tuple = (3,4,56,3,12,1,1,2,3,)

In [124]:
new_tuple = list(pi_tuple) # convert tuple to  a list

In [125]:
new_tuple

[3, 4, 56, 3, 12, 1, 1, 2, 3]

In [126]:
new_list = tuple(new_tuple) # list to tuple

In [127]:
new_list

(3, 4, 56, 3, 12, 1, 1, 2, 3)

### Dictionaries
Dictionaries are similar to lists but they have key value pairs.

In [128]:
great_movies = {'Shawshank Redemption' : 'Tim Robbins',
               'Black Panther' : 'Chadwick Boseman',
               'Mission Impossible' : 'Tom Cruse',
               'IP Man' : 'Donnie Yen',
               'Transporter' : 'Jason Statham',
               'Batman' : 'Robert Pattinson'}

In [129]:
great_movies

{'Shawshank Redemption': 'Tim Robbins',
 'Black Panther': 'Chadwick Boseman',
 'Mission Impossible': 'Tom Cruse',
 'IP Man': 'Donnie Yen',
 'Transporter': 'Jason Statham',
 'Batman': 'Robert Pattinson'}

In [130]:
print(great_movies['IP Man'])

Donnie Yen

In [131]:
print(great_movies['Transporter'])

Jason Statham

In [132]:
del great_movies['Shawshank Redemption']

In [133]:
great_movies

{'Black Panther': 'Chadwick Boseman',
 'Mission Impossible': 'Tom Cruse',
 'IP Man': 'Donnie Yen',
 'Transporter': 'Jason Statham',
 'Batman': 'Robert Pattinson'}

In [136]:
great_movies['Black Panther'] = 'Wakanda Forever'

In [137]:
great_movies

{'Black Panther': 'Wakanda Forever',
 'Mission Impossible': 'Tom Cruse',
 'IP Man': 'Donnie Yen',
 'Transporter': 'Jason Statham',
 'Batman': 'Robert Pattinson',
 'Black Panter': 'Wakanda Forever'}

In [138]:
great_movies.keys()

dict_keys(['Black Panther', 'Mission Impossible', 'IP Man', 'Transporter', 'Batman', 'Black Panter'])

In [139]:
great_movies.values()

dict_values(['Wakanda Forever', 'Tom Cruse', 'Donnie Yen', 'Jason Statham', 'Robert Pattinson', 'Wakanda Forever'])

### Conditionals and Logical Operators (and, or & not)

In [140]:
age = 30
if age > 16:
    print('You are old enough to drive')
else:
    print('You are not old enough to drive')

You are old enough to drive

In [141]:
if age >= 21:
    print('You are old enough to drive a tractor')
elif age >= 16:
    print('You are old enough to drive a car')
else: 
    print('You are not old enough to drive')

You are old enough to drive a tractor

In [143]:
if ((age >= 1) and (age <= 18)):
    print("You get a birthday")
elif (age == 21) or (age >= 65):
    print('You get a birthday')
elif not(age == 30):
    print('You don\'t get a birthday party')
else:
    print('You get a birthday party. Yeah!')

You get a birthday party. Yeah!

### Looping

In [144]:
for x in range(0, 10):
    print(x, '', end="")

0 1 2 3 4 5 6 7 8 9

In [145]:
print('\n' * 3)

In [150]:
for item in great_movies:
    print(item)

Black Panther
Mission Impossible
IP Man
Transporter
Batman
Black Panter

In [151]:
num_list = [[1,2,3], [10,20,30], [100, 200, 300]]

In [159]:
for x in range(0,3):
    for y in range(0,3):
        print(num_list[x][y])

1
2
3
10
20
30
100
200
300

In [8]:
import random 

random_num = random.randrange(0,30)

while(random_num != 15):
    print(random_num)
    random_num = random.randrange(0,30)

29
22
0
19
3
18
5
18
6
7

In [9]:
i = 0
while (1 < 20):
    if(i%2 == 0):
        print(i)
    elif (i == 9):
        break
    else:
        i += 1
        continue
    i += 1

0
2
4
6
8

### Functions

In [13]:
def addNumber(fNum, lNum):
    sumNum = fNum + lNum
    return sumNum

In [15]:
addNumber(3, 9)

12

In [19]:
input('What is your name? ')

What is your name? Joe

'Joe'

In [20]:
long_string = "I'll catch you if you fall - The Floor"

In [22]:
print(long_string)

I'll catch you if you fall - The Floor

In [23]:
print(long_string[0:4])  # First four character printing

I'll

In [24]:
print(long_string[-5:]) # last five character printing

Floor

In [25]:
print(long_string[:-5]) # Print everything apart from the last five charcters

I'll catch you if you fall - The

In [26]:
print(long_string[:4] + " be there")

I'll be there

In [29]:
print("If you fall", long_string[:4] + " be there.")

If you fall I'll be there.

###Â args and *kwargs in Python

* Single star args stand for *arguments**.
* Double star ** kwargs stand for keyword arguments.

They allow us to accept an arbitrary number of arguments and keyword arguments without having to pre-define a bunch of parameters in the function calls.

In [30]:
def myfn(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [31]:
myfn(40,20)

3.0

In [32]:
# What if I had more parameters to pass in?
# We can add parameters and set them to zero just in case they dont add them. eg.
def myfn(a,b,c=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c)) * 0.05

In [33]:
myfn(1,2,3)

0.30000000000000004

In [34]:
# Introducing the *args which will be treated as a tuple of 
# parameters. 

def myfunc(*args):
    return sum(args) * 0.05

In [35]:
myfunc(23,12,45,52,57)

9.450000000000001

In [36]:
def numbers(*args):
    print(args)
numbers(20,34,54,23,56,36)

(20, 34, 54, 23, 56, 36)

In [38]:
def stuff(*args):
    for item in args:
        print(item)

stuff('milk', 'coffee', 'toffee', 'bread', 'sugar')

milk
coffee
toffee
bread
sugar

In [39]:
# **kwargs returns a dictionary

def fn(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruits found')

In [40]:
fn(fruit='apple')

My fruit of choice is apple

In [41]:
fn(fruit='orange',veggie= 'lettuce')

My fruit of choice is orange

In [42]:
def fn(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruits found')

In [43]:
fn(fruit='apple', veggie='lettuce', cerial='weetabix')

{'fruit': 'apple', 'veggie': 'lettuce', 'cerial': 'weetabix'}
My fruit of choice is apple

In [44]:
def myfunc(*args,**kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [45]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

I would like 10 eggs

In [46]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[2],kwargs['fruits']))

In [47]:
myfunc(5,8,12,fruits='apples',food='chapatis',exercise='cardio')

(5, 8, 12)
{'fruits': 'apples', 'food': 'chapatis', 'exercise': 'cardio'}
I would like 12 apples